@import "pop.sass"

$focus-color: #5cd3a3
$name-color: #ff80ab
$li-borders: 1px solid #fff
$animate: colorchange 3s ease-in-out 0s infinite

a
	outline: none
	text-decoration: none

#resume
	&:hover
		background: $focus-color
		a
			color: #fff
	a
		color: $focus-color

#name
	&:hover
		background: $name-color
		a
			color: #fff
	a
		color: #000

.link
	border-top: $li-borders
	border-bottom: $li-borders
	&:last-child
		border-bottom: $li-borders
	&:hover
		transition: background 0.6s
		background: #fff
		h1
			color: #000
		a
			animation: $animate
		&:first-child
			border-top: 1px solid #000
		&:last-child
			border-bottom: 1px solid #000

	a
		text-decoration: none
		color: inherit

	@-webkit-keyframes colorchange
		0%
			color: #FF4081
		20%
			color: #E040FB
		40%
			color: #00E676
		60%
			color: #EEFF41
		80%
			color: #64FFDA
		100%
			color: #536DFE

	@keyframes colorchange
		0%
			color: #FF4081
		20%
			color: #E040FB
		40%
			color: #00E676
		60%
			color: #EEFF41
		80%
			color: #64FFDA
		100%
			color: #536DFE

footer
	background: #fff
	color: #000
	position: fixed
	bottom: 0px
	a
		text-decoration: none
		color: inherit

#github
	&:hover
		background: #913399
		a
			color: #fff
	a
		color: #000
		text-decoration: none

#codepen
	&:hover
		background: #343436
		a
			color: #fff
	a
		color: #000
		text-decoration: none

#linkedin
	&:hover
		background: #0077b5
		a
			color: #fff
	a
		color: #000
		text-decoration: none
